:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.link {
  text-decoration: none;
}

.button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header {
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  color: var(--title-text-color);
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
}

.nav__logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav__logo-two {
  color: var(--accent-color);
}

.nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav + .contacts {
    display: none;
  }
}

.site-nav__link {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.contacts__link {
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.contacts__link:hover, .contacts__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.contacts__icons {
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 189px;
    padding-right: 189px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 250ms var(--cubic-bezier);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms var(--cubic-bezier);
}

.modal {
  padding: 40px;
}

.modal__close {
  display: flex;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  align-items: center;
  cursor: pointer;
  transition: 250ms var(--cubic-bezier);
}

.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-field__label {
  margin-bottom: 4px;
}

.form__title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms var(--cubic-bezier);
}

.form-field__input:focus-within {
  outline: transparent;
  border-color: var(--accent-color);
}

.form-field__input:focus-within + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.form-field__textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: 250ms var(--cubic-bezier);
  resize: none;
}

.form-field__textarea:focus-within {
  border-color: transparent;
  outline: transparent;
  border-color: var(--accent-color);
}

.icon__text {
  font-size: 14px;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
}

.label {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  vertical-align: middle;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: 250ms var(--cubic-bezier);
}

.label__checkbox:checked + .icon {
  border: transparent;
  background-origin: border-box;
  border-color: transparent;
  background-color: var(--accent-color);
  fill: #ffffff;
}

.check {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.check__button {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: 250ms var(--cubic-bezier);
}

@media screen and (min-width: 768px) {
  .philosophy__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.philosophy__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.philosophy__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .philosophy__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .philosophy__item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.philosophy__icon {
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .philosophy__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.activity__item {
  margin-right: 30px;
}

.activity__item:last-child {
  margin-right: 0;
}

.activity__item {
  position: relative;
}

.activity__text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.team {
  background-color: #f5f4fa;
}

.team img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__item {
  background-color: var(--background-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team__image {
  margin-top: 0;
}

.team-socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #ffffff;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.team-socials__link:hover, .team-socials__link:focus {
  background-color: var(--accent-color);
}

.team-socials__link:hover .team-socials__icon,
.team-socials__link:focus .team-socials__icon {
  fill: #ffffff;
}

.team-socials__icon {
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.team-socials {
  display: flex;
  justify-content: center;
}

.team-socials__item {
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
}

.team-socials__item {
  margin-right: 10px;
}

.team-socials__item:last-child {
  margin-right: 0;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
  width: calc((100% - 4 * 15px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients-list__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__icon {
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-size {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

.nav__logo--footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17em;
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
}

.nav__logo-two--footer {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-list {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .list-size {
    display: flex;
    justify-content: space-around;
  }
}

.footer-list__address {
  color: #ffffff;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-list__mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-top: 0;
  margin-bottom: 8px;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-list__mail:hover, .footer-list__mail:focus {
  color: var(--accent-color);
}

.footer-list__tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-top: 0;
  margin-bottom: 60px;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-list__tel:hover, .footer-list__tel:focus {
  color: var(--accent-color);
}

.footer-list__link {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-list__link:hover, .footer-list__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-right: 12px;
  }
}

.social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.footer-socials__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .social-list {
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    margin-right: 93px;
  }
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.subscribe__title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe__form {
  color: #ffffff;
  border: unset;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .subscribe__field {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__field {
    display: flex;
  }
}

.subscribe__input {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms var(--cubic-bezier);
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    max-width: 450px;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    width: 330px;
  }
}

.subscribe__input:focus-within {
  outline: transparent;
  border-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.form-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 0;
  max-width: 200px;
  padding-left: 28px;
}

.form-button::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg-images/icon-send.svg);
  vertical-align: middle;
  margin-left: 10px;
  padding-right: 28px;
}

.list-button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-right: 8px;
}

.list-button__item {
  margin-right: 8px;
}

.list-button__item:last-child {
  margin-right: 0;
}

.list-button__buttons {
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.list-button__buttons:hover, .list-button__buttons:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .list-button__buttons {
    margin-bottom: 15px;
  }
}

.content__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image {
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.image:hover, .image:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image:hover .image__thumb::before,
.image:focus .image__thumb::before {
  transform: translateY(0);
}

.image:hover .image__text,
.image:focus .image__text {
  transform: translate(-50%, -50%) translateY(0);
}

@media screen and (min-width: 768px) {
  .image {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card:hover .image__text {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card__item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

.content__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
  flex-grow: 1;
}

.image__thumb {
  position: relative;
  overflow: hidden;
}

.image__thumb::before {
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
}

.image__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 64px 24px 64px 24px;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
}

.page-header {
  position: relative;
}

.menu-toggle {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-toggle .close {
  display: none;
}

.menu-toggle.js-open-menu .close {
  display: block;
}

.menu-toggle.js-open-menu .menu {
  display: none;
}

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: var(--background-color);
  padding: 20px;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */