.contacts {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.contacts__link {
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.contacts__icons {
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
